@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin link-unstyled($color: $text-color) {
  color: $color;
  text-decoration: none;
}

@mixin hover-effect {
  &:hover {
    background-color: $danger-color;
    color: #fff;
  }
}

@mixin active-effect {
  &:active {
    opacity: 0.6;
  }
}

@mixin cssretina {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    @content;
  }
}

// FOR MEDIA QUERY MAX-WIDTH
@mixin breakpoint-down ($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

// FOR MEDIA QUERY MIN-WIDTH
@mixin breakpoint-up ($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

// FOR MEDIA QUERY MIN-WIDTH AND MAX-WIDTH
@mixin breakpoint-between ($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}