/*CONTAINER*/
.container {
  width: 100%;
  max-width: 1188px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-down(580px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}