.feature-list {
  @include list-unstyled;

  &__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon-wrapper {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__icon {
    color: $green-color;
    font-size: 14px;
  }

  &__text {
    font-size: 14px;
    line-height: 30px;
  }

  /* modifiers */
  &--boxed {
    .feature-list__icon-wrapper {
      background-color: $green-color;
      border-radius: 50%;
    }

    .feature-list__icon {
      color: #fff;
      font-size: 12px;
    }
  }

  &--inline {
    .feature-list__item {
      align-items: center;
    }
  }
}
