.features {
  padding-top: 130px;
  padding-bottom: 130px;

  @include breakpoint-down(768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include breakpoint-down(580px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &--feature {
    .section-content {
      margin-right: 14px;

      @include breakpoint-down(800px) {
        margin-right: 0;
        margin-bottom: 30px;
      }

      @include breakpoint-down(580px) {
        margin-bottom: 10px;
      }
    }
  }

  &--feature {
    .section-container {
      @include breakpoint-down(800px) {
        flex-direction: column;
      }
    }
  }
}

.features__img {
  width: 508px;
  height: 414px;
}

.features-list {
  @include list-unstyled;
}

.features-list__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.features-list__icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  background: $green-color;
  border-radius: 50%;
  margin-right: 12px;
}

.feature__select-icon {
  display: inline-block;
  color: #fff;
}

.features-list__text {
  font-size: 14px;
  line-height: 30px;
}