.features {
  padding-top: 130px;
  padding-bottom: 130px;

  @include breakpoint-down(768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include breakpoint-down(580px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &--feature {
    .section-content {
      margin-right: 14px;

      @include breakpoint-down(800px) {
        margin-right: 0;
        margin-bottom: 30px;
      }

      @include breakpoint-down(580px) {
        margin-bottom: 10px;
      }
    }
  }

  &--feature {
    .section-container {
      @include breakpoint-down(800px) {
        flex-direction: column;
      }
    }
  }
}

.features__img {
  width: 508px;
  height: 414px;
}
