.section-heading {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 555px;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;

    @include breakpoint-down(1100px) {
      font-size: 28px;
      line-height: 38px;
    }

    @include breakpoint-down(800px) {
      font-size: 22px;
      line-height: 32px;
    }

    @include breakpoint-down(580px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }

  
  /* HERO MODIFIER VARIANT */
  &--hero {
    .section-heading__text {
      margin-bottom: 50px;

      @include breakpoint-down(800px) {
        margin-bottom: 20px;
      }
    }
  }

  &--feature {
    .section-heading__text {
      margin-bottom: 20px;
    }
  }
}